.mySlides {
    display: none;
}

body {
    background-color: rgb(233, 223, 214);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.head {
    margin-top: 20px;
    margin-right: 20vw;
    margin-left: 20vw;
    text-align: center;
    font-size: 30px;
    background-color: #6f459e;
    color: white;
    border-radius: 19px;
    font-weight: bolder;
}

.center-bar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20vh;
}

.data-container {
    display: flex;
    justify-content: space-around;

}

.bar {
    width: 4px;
    background-color: rgb(0, 183, 255);
    /* transition: 0.15s all ease; */
}

#control-bar {
    display: flex;
    margin-top: 20vh;
    justify-content: space-between;
}

.new-btn {
    padding: 12px;
    font-weight: bolder;
    background-color: #6f459e;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;

}

.new-btn:hover {
  background-color: #543775;
  cursor: pointer;
}

.sorting-btn {
    padding: 12px;
    font-weight: bolder;
    background-color: #6f459e;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;
}

.sorting-btn:hover {
  background-color: #543775;
  cursor: pointer;
}

#speed-id {
    color: #6f459e;
}

#size_id {
  color: #6f459e;
}

#sort-speed {
    background-color:  #6f459e;
    outline: none;
    border-radius: 3px;
}   

#array_size {
  background-color:  #6f459e;
  outline: none;
  border-radius: 3px;

}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 8vw;
      -webkit-appearance: none;
      background-color: #9a905d;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: rgb(24, 190, 255);
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: pointer;
      background: #434343;
      box-shadow: -80px 0 0 80px rgb(24, 190, 255);
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: rgb(24, 190, 255); 
}
input[type="range"]::-moz-range-track {  
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: rgb(24, 190, 255); 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #9a905d;
}
