.mySlides {
    display: none;
}

body {
    background-color: rgb(255, 235, 211);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.head {
    margin-top: 20px;
    margin-right: 20vw;
    margin-left: 20vw;
    text-align: center;
    font-size: 30px;
    background-color: #6f459e;
    color: white;
    border-radius: 19px;
    font-weight: bolder;
}

.data-container {
    width: 600px;
    height: 384px;
    position: relative;
    right: 27vw;
    margin: 0 auto;
}


.bar {
    width: 28px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: rgb(0, 183, 255);
    transition: 0.2s all ease;
}

.bar_id {
    position: absolute;
    top: -24px;
    width: 100%;
    text-align: center;
}

#control-bar {
    display: flex;
    margin-top: 4vh;
    justify-content: space-between;
}

.new-btn {
    padding: 12px;
    font-weight: bolder;
    background-color: #6f459e;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;
    /* margin-left: 37vw;
    margin-top: 4vw;
    margin-right: 1vw; */

}

.sorting-btn {
    padding: 12px;
    font-weight: bolder;
    background-color: #6f459e;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;
}

#speed-id {
    color: #6f459e;
}

#sort-speed {
    background-color:  #6f459e;
    outline: none;
    border-radius: 3px;
}   


@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 8vw;
      -webkit-appearance: none;
      background-color: #9a905d;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: rgb(24, 190, 255);
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: pointer;
      background: #434343;
      box-shadow: -80px 0 0 80px rgb(24, 190, 255);
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: rgb(24, 190, 255); 
}
input[type="range"]::-moz-range-track {  
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: rgb(24, 190, 255); 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #9a905d;
}
